.spinner {
    position: relative;
    margin: 0 auto;
    top: 15rem;
    width: 80px;
    height: 80px;
  }
  .spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgba(36, 113, 213, 0.872);
    border-color: rgba(36, 113, 213, 0.872) transparent rgba(36, 113, 213, 0.872);
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  