.section3{
    margin-top: 3rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    font-size: 30px;
    text-decoration: none;
    color: #3d3d3d;
}
.h1{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 50px;
    font-style:italic;
    margin-bottom: 2rem;
}