@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&family=Ibarra+Real+Nova:ital@1&family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif:wght@700&family=Rajdhani&family=Roboto:ital,wght@0,300;1,300&family=The+Nautigal:wght@700&display=swap');

.form{
    display: flex;
    flex-direction: column;
    max-width: 42rem;
    min-width: 10rem;
    gap: .5rem;
    margin: 1rem auto;
    padding: 1rem;
}
.p{
    font-size: 20px;
    line-height: 2.2rem;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
input, textarea{
    padding: .5rem;
    font-size: 17px;
}
.line{
    width: 100%;
    border-bottom: 1px solid rgb(123, 120, 120);
    margin-top: 1rem;
}

.btn{
    background-color: rgb(99, 158, 230);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: .5rem;
}
.infos{
    display: flex;
    align-items: center;
    height: 2rem;
}
.p2{
    font-size: 16px;
    margin-left: .5rem;
}

.erreur{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 1.5rem;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(217, 33, 33);
    border-radius: .2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}