@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500&family=PT+Serif:wght@700&family=Rajdhani&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif:wght@700&family=Rajdhani&family=Roboto:ital,wght@0,300;1,300&family=The+Nautigal:wght@700&display=swap');

.cercle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}
.cercle1{
    position: relative;
    width: 400px;
    height: 400px;
    background:rgba(88, 126, 98, 0.5) ;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
}
.cercle1::before{
    content:'';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(300deg, #00ccff, #fa04fa);
    transition: 0.5s;
    animation: animate 4s linear infinite;

}
.cercle1:hover::before
{
    inset: -20px 0px;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.cercle1::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #575a69;
    border-radius: 50%;
    z-index: 1;
}
.cercle2{
    position: absolute;
    inset: 30px;
    border: 6px solid #8b8c8c;
    z-index: 3;
    border-radius: 50%;
}
.avatar{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    object-fit: cover;
}

/*section 1*/

.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.p1{
    font-size: 37px;
    column-gap: 1rem;
}
.p2{
    font-size: 45px;
    color: #15819fd6;
    
}
.p121{
    display: flex;
    flex-wrap: wrap;
    max-width: 28rem;
    text-transform:capitalize;
}
.p3{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin-top: 1.5rem;
    line-height: 30px;
}
.git{
    line-height: 60px;
}

.txt{
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    margin: 1rem;
    
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
}
.container{
    width: 12rem;
    height: 6.5rem;
    display: inline-block;
    margin: 0 0 0 9rem;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: rgba(193, 199, 205, 0.859);
    text-decoration: none;
    color: #000;
    font-size: 17px;
    margin: .5rem;
    column-gap: .5rem;
}
.container1:hover{
    background-color: #2485e0;
}
.icon{
    font-size: 25px;
    cursor: pointer;
    color: #e4136af3;
}
@media(max-width:1200px){
    .cercle1{
        width: 230px;
        height: 230px;
    }
    .cercle2{
        inset: 17px;
    }
    .cercle1::before{
        inset: -10px 80px;
    }
    .iconmail{
        font-size: 35px;
    }
    
}
@media(max-width:973px){
    .p121{
        display: flex;
        justify-content: center;
        max-width: 23rem;
        margin: 0 auto;
    }
    .p1{
        font-size: 25px;
    }
    .p2{
        font-size: 28px;
    }
    .p3{
        font-size: 17px;
    }
    .container{
        margin: 1rem 1rem 1rem 0;
    }

}
