

.card{
    position: relative;
    display: block;
    min-width: 20rem;
    height: 28rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin: 30px 30px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.card:hover{
    transform: translateY(20px);
}
.img{
    width: 330px;
    height: 400px;
    border-radius: .5rem;
}
.p{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
@media(max-width:800px){
    .card{
        
    min-width: 18rem;
    height: 28rem;
    }
    .img{
        width: 18rem;
        height: 25rem;
        border-radius: .5rem;
    }
}