.skills{
    display: block;
    width: 6rem;
    height: 4rem;
    margin: .5rem;
}

.icon{
    display: flex;
    justify-content: center;
    font-size: 37px;
}
.nom{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    margin: .5rem 0 0 0 ;
}